/*
 * Main style sheet for Battle Ship
 * 
 * Author: Chris Casola, Chris Page
 */

/* Font for the Header */
@font-face {
  font-family: 'Londrina Sketch';
  font-style: normal;
  font-weight: 400;
  src: local('Londrina Sketch'), local('LondrinaSketch-Regular'), url('http://themes.googleusercontent.com/static/fonts/londrinasketch/v1/p7Ai06aT1Ycp_D2fyE3z6z0WCr4BXWfANofoahM5yqc.woff') format('woff');
}

/* Style for the entire page */
body {
	margin: 0;
	padding: 0;
	background-color: rgb(22,41,67);
}


/*
 * Code for Header
 */
header {
	font-family: 'Helvetica', 'Arial', 'Sans Serif';
	font-size: 1.25em;
	font-weight: 200;
	margin: 0;
	padding: 0;
}

header ul {
	margin: 0;
	padding: 0;
}

header h1 {
	font-family: 'Londrina Sketch';
	font-size: 4em;
	font-weight: 400;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
	display: block;
	color: rgb(173,173,173);
}

/*
 * Code for Navigation
 */

nav {
	height: 35px;
	margin: 5px 5px 0 5px;
	padding: 0 0 0 0;
	background: linear-gradient(top, rgb(209,209,209) 27%, rgb(173,173,173) 64%);
	background: -o-linear-gradient(top, rgb(209,209,209) 27%, rgb(173,173,173) 64%);
	background: -moz-linear-gradient(top, rgb(209,209,209) 27%, rgb(173,173,173) 64%);
	background: -webkit-linear-gradient(top, rgb(209,209,209) 27%, rgb(173,173,173) 64%);
	background: -ms-linear-gradient(top, rgb(209,209,209) 27%, rgb(173,173,173) 64%);
	border-radius: 5px;
}

nav li {
	display: inline;
	padding-left: .6em;
	padding-right: .6em;
	margin: 0 0 0 0;
	height: 35px;
	float: left;
	color: black;
	padding-top: 0em;
}

nav li:hover {	
	background: linear-gradient(bottom, rgb(230,230,230) 43%, rgb(204,204,204) 72%);
	background: -o-linear-gradient(bottom, rgb(230,230,230) 43%, rgb(204,204,204) 72%);
	background: -moz-linear-gradient(bottom, rgb(230,230,230) 43%, rgb(204,204,204) 72%);
	background: -webkit-linear-gradient(bottom, rgb(230,230,230) 43%, rgb(204,204,204) 72%);
	background: -ms-linear-gradient(bottom, rgb(230,230,230) 43%, rgb(204,204,204) 72%);
	border-radius: 5px;
}

nav li p {
	margin: 6px 0 0 0;
	font-size: .9em;
}

nav li a:link, nav li a:visited {
	color: black;
	text-decoration: none;
}

.activePage {
	background: linear-gradient(bottom, rgb(230,230,230) 43%, rgb(204,204,204) 72%);
	background: -o-linear-gradient(bottom, rgb(230,230,230) 43%, rgb(204,204,204) 72%);
	background: -moz-linear-gradient(bottom, rgb(230,230,230) 43%, rgb(204,204,204) 72%);
	background: -webkit-linear-gradient(bottom, rgb(230,230,230) 43%, rgb(204,204,204) 72%);
	background: -ms-linear-gradient(bottom, rgb(230,230,230) 43%, rgb(204,204,204) 72%);
	
	border-radius: 5px;
}

.rightSide {
	float: right;
}

#userNameLabel {
	padding-top: .25em;
	font-size: .7em;
}


/*
 * Main Content
 */
#mainContent {
	margin-top: 3em;
	text-align: center;
	color: rgb(173,173,173);
	font-family: 'Arial', 'Sans Serif';
}

/* The instructions section on the home page */
#instructions {
	background-color: #838da9;
	padding: 1.5em;
	color: black;
	margin-top: 3em;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#instructions li {
	margin-bottom: .75em;
}

.italic {
	font-style: italic;
}

/* The create battle button */
#createBattle {
	font-size: 1em;
	border: 2px solid rgb(173, 173, 173);
	padding: 5px 0 5px 0;
	width: 15%;
	margin-left: auto;
	margin-right: auto;
}

#createBattle:hover {
	background-color: rgba(173, 173, 173, .25);
}

/* Style for any tables thath appear in main content sections */
#mainContent table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	width: 55%;
}

#mainContent table, th, td {
	border: 1px solid rgb(173,173,173);;
}

#mainContent th, td {
	padding: 5px 5px 5px 5px;
}

#mainContent th {
	background-color: rgb(173, 173, 173);
	color: rgb(22,41,67);
}

/* Style newly added battles in the My Battles Table differently */
.newBattle {
	background-color: red;
}

/* Show a gradient background for the table row the user is mousing over */
#mainContent tr:hover {
	color: rgb(22,41,67);
	background: -o-linear-gradient(top, rgba(209,209,209, 0.75) 27%, rgba(173,173,173, 0.75) 64%);
	background: -moz-linear-gradient(top, rgba(209,209,209, 0.75) 27%, rgba(173,173,173, 0.75) 64%);
	background: -webkit-linear-gradient(top, rgba(209,209,209, 0.75) 27%, rgba(173,173,173, 0.75) 64%);
	background: -ms-linear-gradient(top, rgba(209,209,209, 0.75) 27%, rgba(173,173,173, 0.75) 64%);
	background: linear-gradient(top, rgba(209,209,209, 0.75) 27%, rgba(173,173,173, 0.75) 64%);
}

/* Style for alert popups */
#alert {
	opacity: 0;
	padding: 5px 5px 5px 5px;
	border: 3px solid #2a549f;
	background-color: #96aceb;
	color: black;
	border-radius: 10px;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	
	/* Enable fade in fade out transition */
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}

/* Style for the ship type select input */
#orientationSelection {
	margin-top: 25px;
	margin-bottom: 10px;
}

#shipSelection input {
	margin-right: 5px;
}

#shipSelection p {
	display: inline;
	margin-right: 10px;
}

#orientationSelection p {
	display: inline;
	margin-right: 10px;
}
